@import "compass/css3";

$main: #008ab0;
$main-dark: darken($main,10%);
$main-darker: darken($main,30%);
$light: #eee;
$lighter: rgba($light,.4);
$transition:.25s ease-out;

$cold: #93FFFF;
$cold-dark: darken($cold,20%);
$hot: #B54500;
$hot-dark: darken($hot,10%);

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.eot') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: $light;
  background: $main;
  background: linear-gradient(to bottom, $main, darken($main,5%));
}


// Hot weather
body.hot {
  background: linear-gradient(to bottom, $hot, $hot-dark);
  button {
    color: $hot;
    &:hover, &:focus {
      color: $hot-dark;
    }
  }
  .settings-container {
    background: rgba($hot-dark,.95);
    &:before {
      border-bottom-color: rgba($hot-dark, .95);
    }
  }
  input:checked ~ label, label:hover {
    background: darken($hot-dark,10%);
  }

}

// Cold Weather
body.cold {
  background: linear-gradient(to bottom, $cold, $cold-dark);
  color: $main-dark;
  
  button {
    background-color: $main-dark;
    border-color: $main-dark;
    color: $cold;
    &:hover, &:focus {
      color: $light;
    }
  }
  
  .setting-icon svg {
    fill: $main;
  }
  
  ::placeholder {
    color: rgba($main-dark,.4);
  }
  .five-day li {
    border-color: rgba($main-dark,.4);
  }

}

.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 0 0 80px;
  text-align: center;
  text-transform: uppercase;
}

header {
  padding: 20px;
  display: flex;
  > * {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  > *:last-child {
    margin-right: 0;
  }
  form {
    flex-shrink: 4;
  }
}

.setting-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  svg {
    display: block;
    fill: $light;
    width: 100%;
    height: 50px;
    opacity: .5;
    transition: $transition;
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.settings {
  position: relative;
}

.settings-container {
  opacity: 0;
  display: none;
  position: absolute;
  background: rgba($main-dark,.95);
  padding: 10px;
  z-index: 99;
  transition: $transition;
  color: $light;
  text-align: left;
  top: 75px;
  &:before {
    content: '';
    bottom: 100%;
    left: 10px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba($main-dark, 0);
    border-bottom-color: rgba($main-dark, .95);
    border-width: 15px;
  }
  div {
    display: block;
    width: 250px;
  }
}

.settings.active { 
  .settings-container {
    display: block;
    opacity: 1;
  }
  svg {
    opacity: 1;
    transform: rotate(-103deg);
  }
}

input[type="radio"] {
  visibility: hidden;
  display: none;
}

label {
  display: block;
  padding: 10px 10px;
  transition: $transition;
  cursor: pointer;
}

input:checked ~ label, label:hover {
  background: darken($main-dark,10%);
}

.js-geolocation {
  display: none;
}

form {
  display: flex;
  margin-left: auto;
  > * {
    flex: 1 auto;
    transition: $transition;
  }
  button {
    min-width: 50px;
  }
}

input {
  border: 2px solid;
  outline: 0;
  padding: 10px;
  background: rgba($light,.05);
  opacity: .5;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

button {
  background: none;
  background-color: $light;
  border: 0;
  outline: 0;
  border: 2px solid $light;
  padding: 10px;
  transition: $transition;
  color: $main;
  opacity: .5;

  &:hover,
  &:focus {
    border-color: $light;
    background-color: $light;
    color: $main-dark;
    opacity: 1;
  }
  
  span:first-child {
    display: none;
  }
  
  @media (min-width: 675px) {
    span:first-child {
      display: block;
    }
    span:last-child {
      display: none;
    }
  }

}

::placeholder {
  color: $lighter;
}

.city {
  position: relative;
  font-size: 1.25em;
  letter-spacing: .15em;
  word-wrap: break-word;
  h1 {
    font-weight: 300;
  }

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 50%;
    background: currentColor;
    position: absolute;
    opacity: .25;
    top: 120%;
    left: 25%;
  }

}

.icon {
  font-family: weather;
  font-size: 75px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

.currently {
  margin: 40px 0;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .current-icon {
    display: block;
    font-size: 200px;
    text-align: center;
    margin-right: 20px;
  }
  .current-conditions {
    font-size: 5em;
    margin: 0;
    .current-temp {
      margin: 0;
    }
  }
}

.current-desc {
  display: block;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0px;
}

.five-day {
  list-style: none;
  margin: 0 0 60px;
  padding: 0;
  overflow: auto;
}

.daily {
  padding: 10px;
  border-bottom: 1px solid $lighter;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .day {
    text-align: left;
    width: 20%;
    opacity: .75;
  }
  .icon {
    width: 30%;
  }
  .desc {
    display: none;
  }
  .temp {
    width: 25%;
  }
  .low {
    opacity: .5;
  }
  
}

@media (min-width: 675px) {
  .daily {
      display: block;
      text-align: center;
      float: left;
      width: 20%;
      border-bottom: 0;
      border-right: 1px solid $lighter;
      &:last-child{
        border: 0;
      }
    .day, .icon, .desc {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    .day {
      font-weight: bold;
    }
    .icon {
      display: block;
      height: 70px;
    }
    .desc {
      display: block;
      opacity: .5;
      font-size: 12px;
      height: 40px;
    }
    .temp {
      display: block;
      float: left;
      width: 50%;
    }
  }
}

.last-updated {
  opacity: .5;
}

.loading {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 3px solid rgba($light,.5);
  border-radius: 50%;
  border-top-color: $light;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
